.page-header{
  height: 50px;
  background-color: teal;
  position: inherit;
}

.main-padding{
  padding: 10px;
}

.div-inline{
  display: inline-block;
}

.sign-out{
  position: absolute;
  right: 10px;
}

.sign-out a{
  color: aliceblue;
}

